@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .container {
    @apply mx-auto w-full sm:w-[540px] md:w-[720px] lg:w-[960] xl:w-[1140] 2xl:w-[1320];
  }
  .no-scrollbar::-webkit-scrollbar{
    display: none;
  }
}
  .no-scrollbar::-webkit-scrollbar{
   scrollbar-width: none;  /* Firefox*/
   -m-overflow-style:none  /* IE and Edge*/
  }
