@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .container {
    @apply mx-auto w-full sm:w-[540px] md:w-[720px] lg:w-[960] xl:w-[1140] 2xl:w-[1320];
  }
  .no-scrollbar::-webkit-scrollbar{
    display: none;
  }
  .no-scrollbar::-webkit-scrollbar{
    scrollbar-width: none;  /* Firefox*/
    -m-overflow-style:none  /* IE and Edge*/
  }
  .filter-btn {
    @apply  px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out;
  }
}
